
.page {
    font-family: Roboto,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 16px;
    font-weight: 300;
    color:$gsr-grey;
    background-color: $gsr-white;
}
.main{
  background-color:$gsr-white;
}
h1{
  color:black;
}
h2{
  color:$gsr-orange;
  font-size:1.5em;
  line-height:1.0em;
  color:black;
}
.rmv-col-pdg{
  padding:0px !important;
}

p{
    font-family:$gsr-font-stack;
    font-size: 1.40em;
    line-height: 1.8em;
    font-weight: $gsr-font-normal;
    color:black;

  }

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
